<div class="body">
    <header>
        <div id="presentation">
            <img src="../fotos/fotoCV.jpg" alt="">
            <h1>Emiliano Dovichi</h1>
            <h3>freelance full-stack developer - Electronic engineer</h3>
        </div>
        <div id="contacto">
            <div id="correo" class="dataContact">
                <img src="../iconos/correo-electronico.png" alt="">
                <p><a href="https://mail.google.com/mail/?view=cm&to=emidovichi@gmail.com">emidovichi@gmail.com</a></p>
            </div>
            <div id="tel" class="dataContact">
                <img src="../iconos/whatsapp.png" alt="">
                <p><a href="https://wa.me/+5492664006000">+549266400600</a></p>
            </div>
            <div id="linkedin" class="dataContact">
                <img src="../iconos/linkedin.png" alt="">
                <p><a href="https://www.linkedin.com/in/emiliano-dovichi/">https://www.linkedin.com/in/emiliano-dovichi/</a></p>
            </div>
        </div>
    </header>
    <div id="abstract" class="section">
        <h3>About me</h3>
        <hr class="vhr">
        <p>{{about}}</p>
    </div>
    <div id="experience" class="section">
        <h3>{{prof.title}}</h3>
        <hr>
        <i>{{prof.date}}</i>
        <p>{{prof.descr}}</p>
        <h4>{{prof.tech.title}}</h4>
        <div class="listas">
        {{#each prof.langs}}
            <p><strong>{{this.lang}}</strong></p>
            <ul>
                {{#each this.projs}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/each}}
        </div>
    </div>
    {{!-- <div id="tecnologies" class="section"></div> --}}
    <div id="education" class="section">
        <h3>{{education.title}}</h3>
        {{!-- <p>{{education.relevant}}</p> --}}
        <hr>
        {{#each education.eds}}
            <p><strong>{{this.title}}</strong></p>
            <p><i>{{this.date}}</i></p>
            <p>{{this.stablish}}</p>
            <p>{{education.relevant}}</p>
            <ul>
                {{#each this.knows}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <br>
        {{/each}}
        
        <br>
    </div>
    <div id="background" class="section">
        <h3>{{background.title}}</h3>
        <hr>
        <div id="jobs">
            {{#each background.jobs}}
                <div>
                    <p><strong>{{this.title}}</strong></p>
                    <p><i>{{this.date}}</i></p>
                    <p>{{this.descr}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>